<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @milestone.type %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @milestone.stage %>
</p>

<p>
  <strong>Customerpo:</strong>
  <%= @milestone.customerpo %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
