<%= form_for(invoice) do |f| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <!-- <div class="field">
    <%#= f.label :status_id %>
    <%#= f.text_field :status_id %>
  </div> -->
  <div class="field">
    <%= f.label :status_id %>
    <%= f.collection_select :status_id, Status.all, :id, :state %>
  </div>

 <!--  <div class="field">
    <%#= f.label :milestone_id %>
    <%#= f.text_field :milestone_id %>
  </div> -->
  <div class="field">
    <%= f.label :milestone_id %>
    <%= f.collection_select :milestone_id, Milestone.all, :id, :milestone_type %>
  </div>

  <!-- <div class="field">
    <%#= f.label :customerpo_id %>
    <%#= f.text_field :customerpo_id %>
  </div> -->

  <div class="field">
    <%= f.label :customerpo_id %>
    <%= f.collection_select :customerpo_id, Customerpo.all, :id, :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
