<p id="notice"><%= notice %></p>

<h1>Customerquotes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Customerpo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customerquotes.each do |customerquote| %>
      <tr>
        <td><%= customerquote.name %></td>
        <td><%= customerquote.date %></td>
        <td><%= customerquote.amount %></td>
        <td><%= customerquote.customerpo.number %></td>
        <td><%= link_to 'Show', customerquote %></td>
        <td><%= link_to 'Edit', edit_customerquote_path(customerquote) %></td>
        <td><%= link_to 'Destroy', customerquote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customerquote', new_customerquote_path %>
