<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customerquote.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @customerquote.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @customerquote.amount %>
</p>

<p>
  <strong>Cost center:</strong>
  <%= @customerquote.cost_center %>
</p>

<%= link_to 'Edit', edit_customerquote_path(@customerquote) %> |
<%= link_to 'Back', customerquotes_path %>
