<h1>Accounts</h1>
<%= link_to 'New Account', new_account_path %>

<div class="row">
  <div class="col-sm-4">
    <div class="callout callout-info b-t-1 b-r-1 b-b-1">
      <small class="text-muted">New Clients</small><br>
      <strong class="h4">9,123</strong>
    </div>
  </div><!--/.col-->
  <div class="col-sm-4">
    <div class="callout callout-info b-t-1 b-r-1 b-b-1">
      <small class="text-muted">New Clients</small><br>
      <strong class="h4">9,123</strong>
    </div>
  </div><!--/.col-->
  <div class="col-sm-4">
    <div class="callout callout-info b-t-1 b-r-1 b-b-1">
      <small class="text-muted">New Clients</small><br>
      <strong class="h4">9,123</strong>
    </div>
  </div><!--/.col-->
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <!-- <th colspan="2"></th> -->
      <!-- <th scope="col">Handle</th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @accounts.each do |account| %>
      <th scope="row"><%= account.id %></th>
      <td><%= link_to account.name, account %></td>
      <td><%= account.description %></td>
      <!-- <td><%#= link_to 'Edit', edit_account_path(account) %></td> -->
      <td><%= link_to edit_account_path(account) do %>
            <i class="fa fa-edit"></i>
          <% end %>
      </td>
      <!-- <td><%#= link_to fa_icon("facebook", text: "Facebook", class: "facebookauth"), edit_account_path(account) %></td> -->
      <td><%= link_to account, method: :delete, data: {confirm: 'Delete This Account?' } do %>
            <i class="fa fa-trash "></i>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>