<%= form_for(customer_po) do |f| %>
  <% if customer_po.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_po.errors.count, "error") %> prohibited this customer_po from being saved:</h2>

      <ul>
      <% customer_po.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Date %>
    <%= f.datetime_select :Date %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :cost_center_id %>
    <%= f.text_field :cost_center_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
