<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @customer_po.Date %>
</p>

<p>
  <strong>Number:</strong>
  <%= @customer_po.number %>
</p>

<p>
  <strong>Cost center:</strong>
  <%= @customer_po.cost_center %>
</p>

<%= link_to 'Edit', edit_customer_po_path(@customer_po) %> |
<%= link_to 'Back', customer_pos_path %>
