<p id="notice"><%= notice %></p>
<%= link_to 'New Customer PO', new_customer_po_path %>
<p>
  <strong>Number:</strong>
  <%= @cost_center.number %>
</p>

<p>
  <strong>Details:</strong>
  <%= @cost_center.details %>
</p>

<p>
  <strong>Account:</strong>
  <%= @cost_center.account.name %>
</p>

<%= link_to 'Edit', edit_cost_center_path(@cost_center) %> |
<%= link_to 'Back', cost_centers_path %>
