<p id="notice"><%= notice %></p>
<%= link_to 'New Customer Quote', new_customerquote_path %>
<p>
  <strong>Number:</strong>
  <%= @cost_center.number %>
</p>

<p>
  <strong>Details:</strong>
  <%= @cost_center.details %>
</p>

<p>
  <strong>Account:</strong>
  <%= link_to @cost_center.account.name, account_path(@cost_center.account_id) %>
  <%#= link_to @invoice.customerpo.number, customerpo_path(@invoice.customerpo_id) %>
</p>

<h4> Custmer Quotes</h4>
<% @cost_center.customerquotes.each do |customerquote| %>
	<%= link_to customerquote.name, customerquote_path(customerquote) %>
	<%= link_to customerquote.date, customerquote_path(customerquote) %>
	<%= customerquote.amount %>
	<br>
<% end %>
<%= link_to 'Edit', edit_cost_center_path(@cost_center) %> |
<%= link_to 'Back', cost_centers_path %>
