<%= form_for(customerpo) do |f| %>
  <% if customerpo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customerpo.errors.count, "error") %> prohibited this customerpo from being saved:</h2>

      <ul>
      <% customerpo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :customerquote_id %>
    <%= f.text_field :customerquote_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
