<p id="notice"><%= notice %></p>

<h1>Customerpos</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Customerquote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customerpos.each do |customerpo| %>
      <tr>
        <td><%= customerpo.number %></td>
        <td><%= customerpo.date %></td>
        <td><%= customerpo.amount %></td>
        <td><%= customerpo.customerquote %></td>
        <td><%= link_to 'Show', customerpo %></td>
        <td><%= link_to 'Edit', edit_customerpo_path(customerpo) %></td>
        <td><%= link_to 'Destroy', customerpo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customerpo', new_customerpo_path %>
