<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @customerpo.date %>
</p>

<p>
  <strong>Number:</strong>
  <%= @customerpo.number %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @customerpo.amount %>
</p>

<p>
  <strong>Customerquote:</strong>
  <%= @customerpo.customerquote %>
</p>

<%= link_to 'Edit', edit_customerpo_path(@customerpo) %> |
<%= link_to 'Back', customerpos_path %>
