<%= form_for(site) do |f| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :tower_height %>
    <%= f.text_field :tower_height %>
  </div>

  <div class="field">
    <%= f.label :town %>
    <%= f.text_field :town %>
  </div>

  <div class="field">
    <%= f.label :status%>
    We designed this and the scope in reverse
    <%#= f.collection_select :status_id, Status.all, :id, :state %>
  </div>
  <div class="field">
    <%= f.label :scope%>
    We designed this and the scope in reverse
    <%#= f.collection_select :scopes_id, Scope.all, :id, :type %>
  </div>


  <div class="field">
    <%= f.label :town_classification %>
    <%= f.text_field :town_classification %>
  </div>

  <!-- <div class="field">
    <%#= f.label :customerpo_id %>
    <%#= f.text_field :customerpo_id %>
  </div> -->
  <div class="field">
    <%= f.label :customer_po%>
    <%= f.collection_select :customerpo_id, Customerpo.all, :id, :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
