<%= form_for(site) do |f| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :tower_height %>
    <%= f.number_field :tower_height %>
  </div>

 <!--  <div class="field">
    <%#= f.label :town_id %>
    <%#= f.text_field :town_id %>
  </div> -->

  <!-- <div class="field">
    <%#= f.label :status_id %>
    <%#= f.text_field :status_id %>
  </div> -->

  <!-- <div class="field">
    <%#= f.label :scope_id %>
    <%#= f.text_field :scope_id %>
  </div -->

  <!-- <div class="field">
    <%#= f.label :customerpo_id %>
    <%#= f.text_field :customerpo_id %>
  </div> -->

  <div class="field">
    <%= f.label :scope_id %>
    <%= f.collection_select :scope_id, Scope.all, :id, :scope_type %>
  </div>

  <div class="field">
    <%= f.label :status_id %>
    <%= f.collection_select :status_id, Status.all, :id, :state %>
  </div>

  <div class="field">
    <%= f.label :town_id %>
    <%= f.collection_select :town_id, Town.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :customerpo_id %>
    <%= f.collection_select :customerpo_id, Customerpo.all, :id, :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
