<!DOCTYPE html>
<html>
  <head>
    <title>Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">   
        <nav>
          <%= link_to 'Home', root_path %> | 
          <%= link_to 'SDs', cost_centers_path %> | 
          <%= link_to 'Customer Quotes', customerquotes_path %> | 
          <%= link_to 'Customer POs', customerpos_path %> | 
          <%= link_to 'Invoices', invoices_path %> | 
          <%= link_to 'Sites', sites_path %>
          <%#= link_to 'Status', statuses_path %>
          <%#= link_to 'Scopes', scopes_path %>
        </nav>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
