<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<p> Cost Centers</p>
<%= link_to 'New SD(Cost Center)', new_cost_center_path %><br>
<% @account.cost_centers.each do |cost_center| %>
		<%= link_to cost_center.number, cost_center_path(cost_center) %>
		<%= cost_center.details %><br>
	<% end %>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
